.App {
  /* padding: 10px 350px 500px 500px; */
  align-items: center;
  height: 1000px;
 
  /* background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);; */
  /* background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%); */
}
.router{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

h1{
  text-align: center;
  color: rgb(255, 155, 145);
}
h2{
  text-align: center;
}
li{
  color: white;
}
.navbar-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: rgb(255, 155, 145);
  color: white;
  list-style: none;
  margin: 5px;
  padding: 5px;
}

.Login {
  width: 600px;
  height: 400px; 
  justify-content:space-evenly; 
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 9px 2px;
 /* background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);*/
}
.MainMenu {
  width: 600px;
  height: 400px;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 9px 2px;
}
.GeneratePaper {
  width: 600px;
  height: 400px;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 9px 2px;
}
.QuestionsAdding {
  justify-content: space-around;
  width: 600px;
  height: 400px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 9px 2px;
}
.QuestionsMenu {
  justify-content: space-around;
  width: 600px;
  height: 400px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 9px 2px;
}
.RegulationAdding {
  justify-content: space-around;
  align-content: center;
  width: 600px;
  height: 400px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 9px 2px;
}
Button {
  margin: 10px;
  padding: 10px;
  justify-content: space-around;
}
#filled-basic, #filled-password-input, #btn {
  margin: 10px;
  padding: 10px;
}